div(class="row tableHeader")
	div(class="col-sm-3 col-md-3")
		span <strong>SUBPROGRAMAS</strong>

	div(class="col-sm-6 col-md-6")
		span PLANES

	div(class="col-sm-3 col-md-3 frigh")
		span INVERSIÓN DE DIPUTACIÓN €

div(class="row subprogram")
	div(class="col-sm-3 col-md-3")
		span Con la Calidad de Vida
	div(class="col-sm-9 col-md-9")
		span()= parseNumber(people.totalcalidad,2)

div(class="row")
	div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
		span Agua y Residuos
		span()= parseNumber(people.aguas)

div(class="row")
	div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
		span Espacios Verdes y Naturaleza
		span()= parseNumber(people.verde)

div(class="row")
	div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
		span Energía y Alumbrado 
		span()= parseNumber(people.energia)

div(class="row")
	div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
		span Plan de Bomberos
		span()= parseNumber(people.bomberos)

div(class="row")
	div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
		span Plan provincial de cohesión social
		span()= parseNumber(people.cohesion)

div(class="row lastRow")
	div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
		span Plan de Urgencia Municipal 2011-2014
		span()= parseNumber(people.urgencia)


div(class="row subprogram")
	div(class="col-sm-3 col-md-3")
		span Con el desarrollo personal
	div(class="col-sm-9 col-md-9")
		span()= parseNumber(people.totalpersonal)

div(class="row")
	div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
		span Infraestructuras Deportivas
		span()= parseNumber(people.deportivas)

div(class="row")
	div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
		span Planes de Ciudadanía
		span()= parseNumber(people.ciudadania)

div(class="row")
	div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
		span Planes de Juventud
		span()= parseNumber(people.juventud)

div(class="row")
	div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
		span Planes Culturales
		span()= parseNumber(people.culturales)

div(class="row lastRow")
	div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
		span Programas y Planes Deportivos
		span()= parseNumber(people.deportivos)

div(class="row result people")
	div(class="col-sm-12 col-md-12")
		span Con las Personas
		span()= parseNumber(people.totalcalidad + people.totalpersonal)

div(class="row")
	div(class="col-sm-12 col-md-12")
		span(class="note") Los datos incluyen inversiones de adjudicación comarcal que tienen efecto directo en cada municipio de la zona.

