extends layout

block content
	div(id="towns")
		div(class="container")
			div(class="row")
				div(class="col-sm-12 col-md-12")
					span(class="title") Municipios
					h1 Invirtiendo en los</br> pueblos sevillanos*

			div(class="row")
				div(class="col-md-5 col-xs-12")
					div(class="row")
						div(class="header")
							div(class="col-xs-2")
								span <strong>A - G</strong>
							div(class="col-xs-7")
								span(class="size_14") MUNICIPIOS
							div(class="col-xs-3")
								span(class="fright size_14") INVERSIÓN €
						
						- var aux = "";
						each town, key in towns
							if key < "H"
								div(class="body")
									each values in town
										div(class="col-xs-2")
											if aux == key
												span(class="hide")= key
											else
												- aux = key
												span()= key
										div(class="border")
											div(class="col-xs-12")
												a(href="/municipios/" + values.id)
													span(class="ellipsis")=values.etiqueta
													span(class="fright")= parseNumber(values.total)
												
				
				div(class="col-md-2 col-xs-1")

				div(class="col-md-5 col-xs-12")
					div(class="row")
						div(class="header")
							div(class="col-xs-2")
								span <strong>H - Z</strong>
							div(class="col-xs-7")
								span(class="size_14") MUNICIPIOS
							div(class="col-xs-3")
								span(class="fright size_14") INVERSIÓN €
						
						- var aux = "";
						each town, key in towns
							if key >= "H"
								div(class="body")
									each values in town
										div(class="col-xs-2")
											if aux == key
												span(class="hide")= key
											else
												- aux = key
												span()= key
										div(class="border")
											div(class="col-xs-12")
												a(href="/municipios/" + values.id)
													span(class="ellipsis")=values.etiqueta
													span(class="fright")= parseNumber(values.total)
			div(class="row")
				span(class="note") * Quedan excluidos los datos de los municipios de Sevilla, Dos Hermanas y Alcalá de Guadaíra.</br>Los datos incluyen inversiones de adjudicación comarcal que tienen efecto directo en cada municipio de la zona.