extends layout

block content
	div(id="town")
		div(class="container")
			div(class="row")
				div(class="col-sm-12 col-md-12")
					div(class="fright")
						div(class="box mt50")
							span INVERSIÓN DE DIPUTACIÓN</br>
							span(class="anio") 2011-2015
							div(class="separator")
							span()= town.total.substring(0,town.total.indexOf(',')) + " €"
							span(class="total")= "Total en " + town.etiqueta
					
						input(type="text" class="searcher" placeholder="busca tu municipio")
						div(class="errorInput")
							span no se obtuvo ningún resultado
							a(href="/municipios") Consulta la Lista de Municipios
					
					div(class="mb20")
						span(class="title") Municipios
					div(class="heraldica")
						img(src="../images/heraldica/" + town.heraldica)
					
					h1()= town.etiqueta
					h2()= town.lema
					h3()= town.descripcion
					
					div(class="row chartSection")
						div(class="col-sm-12 col-md-12 filter")
							span Filtra por programas:
							div(class="peopleFilter active")
							div(class="townFilter")
						
						div(class="col-sm-4 col-md-4")
							
							p(class="notFilter") Seleccione un programa

							div(class="legend peopleLegend active")
								h4 Con las Personas
								h5()= "en " + town.etiqueta

								h6 Con la calidad de vida
								span(class="color1") Agua y Residuos
								span(class="color2") Espacios Verdes y Naturaleza
								span(class="color3") Energía y Alumbrado
								span(class="color4") Plan de Bomberos
								span(class="color5") Plan provincial de cohesión social
								span(class="color6") Plan de Urgencia Municipal 2011-2014


								h6 Con el desarrollo personal
								span(class="color7") Infraestructuras Deportivas
								span(class="color8") Planes de Ciudadanía
								span(class="color9") Planes de Juventud
								span(class="color10") Planes Culturales
								span(class="color11") Programas y Planes Deportivos

							div(class="legend townLegend")
								h4 Con los Ayuntamientos
								h5()= "en " + town.etiqueta
								
								h6 Fondos Reintegrables
								span(class="color12") Fondos Reintegrables

								h6 Con el Empleo
								span(class="color13") FEDER
								span(class="color14") ProEmpleo III y IV
								span(class="color15") Turismo
								span(class="color16") Conoce la Provincia
								span(class="color17") Turismo Promoción y Marketing


								h6 Mejorando el Municipio
								span(class="color18") Programas Provinciales Plurianuales
								span(class="color19") Programa de Fomento de Empleo Agrario y Rural
								span(class="color20") Supera
								span(class="color21") Viviendas y Colegios (Sevilla Activa)

							div(class="legend programLegend")
								h4 Más con menos
								h5()= "en " + town.etiqueta

								h6 Con las Personas
								span(class="color22") Con la calidad de vida
								span(class="color23") Con el desarrollo personal

								h6 Con los Ayuntamientos
								span(class="color24") Fondos Reintegrables
								span(class="color25") Con el Empleo
								span(class="color26") Mejorando el Municipio
						
						div(class="col-sm-4 col-md-4")
							div(id="chart")
							div(id="ceterChartText") 
								span
								span &nbsp;€

						div(class="col-sm-4 col-md-4")
							div(class="greeBox")
								span MAYOR INVERSIÓN
								span(id="greeBoxPlan") 
								span(id="greeBoxValue")
								span(id="greeBoxPer")

								div(class="arrow-left")
					
					div(id="tablePeople" class="active")
						include peopleTable.jade
					div(id="tableTown")
						include townTable.jade
					
					div(id="tableProgram")
						div(class="row tableHeader")
							div(class="col-sm-3 col-md-3")
								span <strong>SUBPROGRAMAS</strong>

							div(class="col-sm-6 col-md-6")
								span PLANES

							div(class="col-sm-3 col-md-3 frigh")
								span INVERSIÓN DE DIPUTACIÓN €

						div(class="row subprogram")
							div(class="col-sm-3 col-md-3")
								span Con la Calidad de Vida
							div(class="col-sm-9 col-md-9")
								span()= parseNumber(people.totalcalidad,2)

						div(class="row")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Agua y Residuos
								span()= parseNumber(people.aguas)

						div(class="row")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Espacios Verdes y Naturaleza
								span()= parseNumber(people.verde)

						div(class="row")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Energía y Alumbrado 
								span()= parseNumber(people.energia)

						div(class="row")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Plan de Bomberos
								span()= parseNumber(people.bomberos)

						div(class="row")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Plan provincial de cohesión social
								span()= parseNumber(people.cohesion)

						div(class="row lastRow")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Plan de Urgencia Municipal 2011-2014
								span()= parseNumber(people.urgencia)


						div(class="row subprogram")
							div(class="col-sm-3 col-md-3")
								span Con el desarrollo personal
							div(class="col-sm-9 col-md-9")
								span()= parseNumber(people.totalpersonal)

						div(class="row")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Infraestructuras Deportivas
								span()= parseNumber(people.deportivas)

						div(class="row")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Planes de Ciudadanía
								span()= parseNumber(people.ciudadania)

						div(class="row")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Planes de Juventud
								span()= parseNumber(people.juventud)

						div(class="row")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Planes Culturales
								span()= parseNumber(people.culturales)

						div(class="row lastRow")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Programas y Planes Deportivos
								span()= parseNumber(people.deportivos)

						div(class="row subprogram")
							div(class="col-sm-3 col-md-3")
								span Fondos Reintegrables
							div(class="col-sm-9 col-md-9")
								span()= parseNumber(towns.reintegrables)

						div(class="row lastRow")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Fondos Reintegrables
								span()= parseNumber(towns.reintegrables)

						div(class="row subprogram")
							div(class="col-sm-3 col-md-3")
								span Con el Empleo
							div(class="col-sm-9 col-md-9")
								span()= parseNumber(towns.total_empleo)

						div(class="row")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span FEDER
								span()= parseNumber(towns.feder)

						div(class="row")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span ProEmpleo III y IV
								span()= parseNumber(towns.proempleo)

						div(class="row")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Turismo
								span()= parseNumber(towns.turismo)

						div(class="row")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Conoce la Provincia
								span()= parseNumber(towns.conoce)

						div(class="row lastRow")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Turismo Promoción y Marketing
								span()= parseNumber(towns.marketing)

						div(class="row subprogram")
							div(class="col-sm-3 col-md-3")
								span Mejorando el Municipio
							div(class="col-sm-9 col-md-9")
								span()= parseNumber(towns.total_mejorando_municipio)

						div(class="row")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Programas Provinciales Plurianuales
								span()= parseNumber(towns.plurianuales)

						div(class="row")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Programa de Fomento de Empleo Agrario y Rural
								span()= parseNumber(towns.pfoea)

						div(class="row")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Supera
								span()= parseNumber(towns.supera)

						div(class="row lastRow")
							div(class="col-md-offset-3 col-sm-offset-3 col-sm-9 col-md-9 data")
								span Viviendas y Colegios (Sevilla Activa)
								span()= parseNumber(towns.sevilla)

						div(class="row result total")
							div(class="col-sm-12 col-md-12")
								span Total
								span()= parseNumber(towns.total_empleo + towns.reintegrables + towns.total_mejorando_municipio + people.totalcalidad + people.totalpersonal)

						div(class="row")
							div(class="col-sm-12 col-md-12")
								span(class="note") Los datos incluyen inversiones de adjudicación comarcal que tienen efecto directo en cada municipio de la zona.


	block js
		script.
			new Town().onReady();